<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>HealthHub Login</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&amp;display=swap" rel="stylesheet" />
    <script>
        tailwind.config = {
            darkMode: "class",
            theme: {
                extend: {
                    colors: {
                        "primary": "#1193d4",
                        "background-light": "#f6f7f8",
                        "background-dark": "#101c22",
                        "text-light": "#111827",
                        "text-dark": "#e5e7eb",
                        "subtext-light": "#6b7280",
                        "subtext-dark": "#9ca3af",
                        "input-light": "#ffffff",
                        "input-dark": "#1f2937",
                        "border-light": "#e5e7eb",
                        "border-dark": "#374151"
                    },
                    fontFamily: {
                        "display": ["Inter", "sans-serif"]
                    },
                    borderRadius: {
                        "DEFAULT": "0.25rem",
                        "lg": "0.5rem",
                        "xl": "0.75rem",
                        "full": "9999px"
                    },
                },
            },
        }
    </script>

    {% block internalStyles %}

    {% endblock internalStyles %}
</head>

<body class="font-display bg-background-light dark:bg-background-dark">
    {% block mainContent %}

    {% endblock mainContent %}

    {% block internalScripts %}

    {% endblock internalScripts %}
</body>

</html>